*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    border: 2px solid blue;
    padding: 10px ;
    margin: 20px;
    width: 150px;
    height: 100px;
    /* box-sizing: border-box;*/
}

.resaltar {
    background-color: gold;
    display: inline;
    height: 100px;
    width: 2000px;
}



article {
    border: 2px solid red;
    padding: 20px;
    width: 300px;
    text-align: center;
}

#noticia {
    color: blue;
}
.articulos {
    color: red;
}